<div class="row widgets">
    <div class="col-sm-6 col-sm-offset-3 login">
        <div class="inner-content">
            <legend class="heading"><h3><span class="black-text">Login form</span></h3></legend>
            <form name="loginForm" ng-submit="submit()" role="form" class="clearfix">
                <div class="form-group">
                    <input type="text" class="form-control" id="form-login" placeholder="Login">
                    <input type="password" class="form-control" id="form-pass" placeholder="Password">
                </div>
                <button type="submit" value="" class="btn btn-primary pull-right">Submit</button>
            </form>

            <h5>{{answer[0].message}}</h5>

        </div>
    </div>
</div>