<carousel class="carousel slide">
    <div class="carousel-inner">
        <slide active="active">
            <div class="background-1"><div class="slide-content"><div class="flag"><span class="text">FREE</span></div><h1>Bamboo Cases</h1><span class="with-stripes">for</span><h2>iPhone & iPad</h2></div></div>
        </slide>
        <slide>
            <div class="background-2"><div class="slide-content"><div class="flag"><span class="text">FREE</span></div><h1>Bamboo Cases</h1><span class="with-stripes">for</span><h2>iPhone & iPad</h2></div></div>
        </slide>
    </div>
</carousel>